.scroll-to-top {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.BtnIconUp {
    position: relative;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid #6700ee;
    transform: rotate(220deg);
    margin-bottom: 0.3em;
    margin-right: 0.3em;
}
.BtnIconUp::after {
    content: '';
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid #6700ee;
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -9px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
}
.BtnIconUp:hover {
  animation: animate 2s;
  -moz-animation: animate 2s; /* Firefox */
  -webkit-animation: animate 2s; /* Safari and Chrome */
  -o-animation: animate 2s; /* Opera */
}

@keyframes animate {
  from {
      margin-bottom: 0.3em;
  }
  to {
      margin-bottom: 0.5em;
  }
}
