.nav-list {
    text-align: initial;
    list-style: none outside none;
    box-sizing: border-box;
    padding: 2em;
    letter-spacing: 1.5px;
}

/* Style the links inside the navigation bar */
.nav-list a {
    color: #6700ee;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    transition-property: background-color color;
    transition-duration: 0.4s;
    display: inline-block;
}

/* Change the color of links on hover */
.nav-list a:hover {
    background-color: #390db1;
    color: white;
}

/**/

.nav-container {
    visibility: collapse;
}

li {
    visibility: collapse;
}

li.a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

li.a:hover,
.dropdown:hover .dropbtn {
    background-color: #390db1;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d5d3d5;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content.a {
    text-decoration: none;
    display: block;
}

.dropdown-content .a:hover {
    background-color: #71798E;
}

.dropdown:hover .dropdown-content {
    display: contents;
}

@media screen and (max-width: 400px) {
    li {
        visibility: visible;
    }
    .nav-list a {
        display: table-row;
    }
    .horizontalLink {
        visibility: collapse;
    }
}
