#homeLink span {
    display: none;
}
#homeLink svg {
    height: 1em;
    width: 1em;
    line-height: 1em;
    vertical-align: bottom;
}
#homeLink:hover span {
    display: inline;
}
#homeLink:hover svg {
    display: none;
}
#homeLink {
    line-height: 1em;
}

nav.navbar {
    padding: 2em;
    letter-spacing: 1.5px;
    text-align: initial;
    font-size: 0.9rem;
    color: #6700ee;
}

#menu-toggle {
    display: none;
    pointer-events: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navbar .nav-list a {
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 8px;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    display: inline-block;
    width: 4.5em;
    text-align: center;
    line-height: 1em;
    fill: #6700ee;
    vertical-align: middle;
}

nav.navbar .nav-list a.nav-link-hidden {
    display: none;
    pointer-events: none;
}

nav.navbar .nav-list a.nav-link-hidden.active + a {
    color: white;
    fill: white;
}

nav.navbar .nav-list a:hover {
    background-color: #390db1;
    color: white;
}

nav.navbar .menu-toggle-ui {
    display: none;
}

@media screen and (max-width: 767px) {
    nav.navbar .nav-list {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: black;
        padding: 5em 0em;
        z-index: 1;
        text-align: center;
    }
    nav.navbar .nav-list a {
        display: block;
        text-align: center;
        padding: 1em;
        border-radius: 0;
        width: unset;
    }
    nav.navbar .menu-toggle-ui {
        display: inline;
    }
    nav.navbar .menu-toggle-ui .fa {
        padding: 0.5em;
        cursor: pointer;
        transition-property: color;
        transition-duration: 0.4s;
    }
    nav.navbar .menu-toggle-ui .fa:hover {
        color: white;
    }
    nav.navbar .menu-toggle-ui .fa-times {
        display: none;
        position: fixed;
        z-index: 1;
    }
    nav.navbar #menu-toggle:checked + label .nav-list {
        display: block;
    }
    nav.navbar #menu-toggle:checked + label .menu-toggle-ui .fa-times {
        display: inline;
    }
}
