.about-page-container {
    margin-top: 3em;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #f7f5d9;
    line-height: 1.6em;
    margin-bottom: 2em;
}

p {
    padding: 1em 10em;
}

@media only screen and (max-width: 767px) {
    .about-page-container {
        text-align: right;
    }

    p {
        padding: 0;
    }
}
